.DS_Store
bin/*.BIN
log/
log/*
local/
local/*
static/uploads
static/uploads/*
static/node_modules/
static/node_modules/*
node_modules/
node_modules/*
*.db
*.bak
*.log
*.sqlite
*.sqlite3
cpanfile.snapshot